In [13]:
length = 10
a = [chr(x) for x in list(range(65,65+length))]
b = list(range(0,length))

In [17]:
list(zip(a,b))

[('A', 0),
 ('B', 1),
 ('C', 2),
 ('D', 3),
 ('E', 4),
 ('F', 5),
 ('G', 6),
 ('H', 7),
 ('I', 8),
 ('J', 9)]

In [21]:
mydict = dict(zip(a,b))
mydict

{'A': 0,
 'B': 1,
 'C': 2,
 'D': 3,
 'E': 4,
 'F': 5,
 'G': 6,
 'H': 7,
 'I': 8,
 'J': 9}

In [22]:
mydict["B"]

1

In [23]:
import pandas as pd

In [27]:
mydf = pd.DataFrame(list(zip(a,b)))
mydf

   0  1
0  A  0
1  B  1
2  C  2
3  D  3
4  E  4
5  F  5
6  G  6
7  H  7
8  I  8
9  J  9

In [28]:
mydf.head(3)

   0  1
0  A  0
1  B  1
2  C  2

In [29]:
df = pd.DataFrame()

In [32]:
df["A"] = list(range(10))
df["B"] = list(range(10))
df

   A  B
0  0  0
1  1  1
2  2  2
3  3  3
4  4  4
5  5  5
6  6  6
7  7  7
8  8  8
9  9  9